@model PlantInventory.Models.MoveModels.MoveDetail

@{
    ViewBag.Title = "GetMoveByID";
}

<h2>GetMoveByID</h2>

<div>
    <h4>MoveDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MoveId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPotsMoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPotsMoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsArchived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchiveComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchiveComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
