@model IEnumerable<PlantInventory.Models.MoveModels.MoveDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MoveId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPotsMoved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMoved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsArchived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchiveComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MoveId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPotsMoved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMoved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsArchived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchiveComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
