@model PlantInventory.Models.BatchModels.BatchCreate

@{
    ViewBag.Title = "Create";
}

<h2>Receiving</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <h9>Product Name</h9>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HerbId, ViewBag.HerbName as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HerbId, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <h9>Total Received</h9>

        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalPotCount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalPotCount, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    <br />
    <br />
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Herb", new { id = Model.HerbId }, new { @class = "btn btn-secondary" })
</div>
