@model PlantInventory.Models.BatchModels.BatchStageViewModel

@{
    ViewBag.Title = "GetBatchByID";
}

<h2>Batch Details</h2>

<div>
    <br />
    <br />
    <dl class="dl-horizontal">
    </dl>
    <table class="table">
        <tr>

            <th>
                Product
            </th>
            <th>
                Date Received
            </th>
            <th>
                Total Received
            </th>
            <th>
                Grow Room
            </th><th>
                Sent to Packing
            </th><th>
                Cut
            </th><th>
                Dumped
            </th>

            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.HerbDetails.HerbName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.BatchDetails.DateReceived.Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.BatchDetails.TotalPotCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.StageDetails.CountGrowRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.StageDetails.CountPacking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.StageDetails.CountFreshCut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.StageDetails.CountDump)
            </td>


            <td>
                @Html.ActionLink("Edit", "EditBatch", new { id = Model.BatchDetails.BatchId }, new { @class = "btn btn-outline-secondary" }) |
                @Html.ActionLink("View Moves", "Index", "Move", new { id = Model.BatchDetails.BatchId }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Move Plants", "Create", "Move", new { id = Model.BatchDetails.BatchId }, new { @class = "btn btn-success" })

            </td>
        </tr>

        

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.BatchDetails.HerbId }, new { @class = "btn btn-secondary" })

</p>
